body {
  background-color: #eeeeee;
}

img {
  border-radius: 50%;
  filter: drop-shadow(8px 8px 10px #00204a);
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  border-color: grey;
  width: 5%
}

h1 {
  color: #3f72af;
}

h3 {
  color: #1fab89;
}
